<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/Result" method="post">
      <label for="player1Guess" style="font-size: 30px">Player 1 Pick: </label>
      <input class="form-control" id="player1Guess" name="player1Guess" type="password" required="true" style="width: 1080px" placeholder="Type rock, paper, scissors, or actually anthing to continue.">
      <br>
      <label for="player2Guess" style="font-size: 30px">Player 2 Pick: </label>
      <input class="form-control" id="player2Guess" name="player2Guess" type="password" required="true" style="width: 1080px" placeholder="Type rock, paper, scissors, or actually anthing to continue.">
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
